.gradle/
.classpath
.project
.settings/
android/.classpath
android/.project
android/.settings/
android/bin/
android/gen/
android/libs/
core/.classpath
core/.project
core/.settings/
core/bin/
desktop/.classpath
desktop/.project
desktop/.settings/
desktop/bin/
desktop/background.png
desktop/config/
desktop/fonts/
desktop/sounds/
desktop/models/
desktop/scripts/
desktop/shaders/
desktop/uiskin.atlas
desktop/uiskin.json
desktop/uiskin.png
desktop/background.jpg
desktop/faumadfly*.db
desktop/CA/
ios/.classpath
ios/.project
ios/.settings/
ios/build/
ios/robovm.xml
*.iml
local.properties
.idea/
build/
android/assets/*.db
apikey.properties
lib/
libs/
target/
src_managed/
project/boot/
project/plugins/project
bin/
gen/
