.gradle/
android/.classpath
android/.project
android/.settings/
android/bin/
android/gen/
android/libs/
core/.classpath
core/.project
core/.settings/
core/bin/
desktop/.classpath
desktop/.project
desktop/.settings/
desktop/bin/
ios/.classpath
ios/.project
ios/.settings/
ios/build/
ios/robovm.xml
